/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
        .prva-strana {
        width: 100%;
        padding: 0 2%;
    }
            
        .row {padding: 0 2%;} 
}
        
/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    body {font-size: 18px;}
    section { padding: 60px 0; }
    .long-copy {
        width: 80%;
        margin-left: 10%;}
    .koraci { margin-top: 10px;}
    .brojevi:last-of-type { margin-bottom: 40px;}
    .adi:last-child {margin-top: 10px;}  
    .app-screen { width: 50%;}
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .ikona-tekst {font-size: 90%; }
    .plan-box {
        width: 100%;
        margin-left: 0%;        
    }
    .cena {font-size: 250%;}
    .kontakt {width: 80%;}
    
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    
    .row,
    .prva-strana{ padding: 0; 4%}
    .col {width: 100%;
        margin: 0% 0 4% 0%;}
    
    .gornji-menu {display: none;}
    .long-copy {width: 100%; margin-left: 0%;}
    
    h1 {font-size: 180%;}
    h2 {font-size: 150%;}
    
    
    .brojevi {margin-bottom: 20px;}
    .brojevi:last-of-type { margin-bottom: 20px;}
    
    .brojevi div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .adi:first-child {text-align: center;}
    
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    section {padding: 25px 0;}
    .kontakti {width: 100%;}
    
    
}
